NEXT_PUBLIC_SUPABASE_URL=https://etpfgpzwaatggbkfaipf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_rc1qZM0nbO8VviGfMBZN4A_xNLDrA5F
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_APP_NAME=GenTask
NEXT_PUBLIC_SITE_URL=http://localhost:3000
BASE_URL_APP=https://gentask-bay.vercel.app
